
body {
    font-family: Arial, sans-serif;
    background-color: navajowhite;
    text-align: center;
    margin-top: 50px;
}
.contenedor {
    background: white;
    padding: 20px;
    margin: auto;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
h1 {
    color: #2c3e50;
}
p {
    font-size: 18px;
}
.fecha {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}
